<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<!--    <title>Help Page</title> -->
    <title>Some Website</title>
  </head>
    <bodY>
<!--      <h1>About Page</h1> -->
      <h1>{{pageTitle}}</h1>
      <p> Some text here</p>

      <footer>
<!--         <p>Copyright 2018</p> -->
        <p>Copyright {{currentYear}}</p>
      </footer>
    </bodY>
</html>
