<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<!--    <title>Help Page</title> -->
    <title>Home Page</title>
  </head>
    <bodY>
<!--      <h1>About Page</h1> -->
<!--      <h1>{{pageTitle}}</h1> -->
      {{> header}}
<!--      <p>{{welcomeMessage}}</p> -->
      <p>{{screamIt welcomeMessage}}</p>
      {{> footer}}
    </bodY>
</html>
